/* For smartphones, tablets, and smaller browsers */
@media only screen and (min-width : 320px) and (max-width : 639px) {
  body {
    border-radius: 0;
    box-shadow: 0 0;
    font-size: 26px;
    width: 100%;
  }

  /* SECTION 1 - LOGO AND HEADER NAV */

  .logo {
    font-size: 48px;
  }

  .nav-link, .js-logSaveButton {
    width: 80%;
    height: 20px;
  }

  h2 a, a:visited {
  	font-size: 16px;
    padding-top: 2px;
  }

  /* SECTION 2 - PAGE WELCOME & DESCRIPTION */

  .todayDate, .allLogs {
    width: 75%;
  }

  .todayDateWelcome h3, .allLogsWelcome h3 {
  	width: 80%;
  }

  /* SECTION 3 - MAIN CONTENT */

  .todayLog {
    padding-bottom: 15%;
  }

  .todayLog h4 {
    width: 60%;
  }

  .todayLog-buttons, .filterLog-buttons {
  	width: 80%;
    height: 20px;
    margin-bottom: 10%;
  }

  .todayLog-buttons input, .filterLog-buttons button {
    font-size: 15px;
    margin-bottom: 0;
    width: 80%;
  	height: 30px;
  }

  .todayLogForms {
    padding-top: 5%;
  }

  .hr-todaylog {
    margin-top: 5%;
  }

  .log-create-form, .log-edit-form, .log-filter-form {
  	width: 85%;
  }

  .log-filter-form fieldset {
    padding-bottom: 75px;
  }

  legend, h5 {
    font-size: 18px;
  }

  .form-elements {
  	width: 80%;
  }

  form label, h6 {
    font-size: 15px;
    line-height: 1em;
    margin-bottom: 5px;
  }

  form input {
    font-size: 15px;
    height: 25px;
  }

  .skipped-meals-opt {
  	font-size: 16px;
  }

  .sleep-select, .notes {
    font-size: 14px;
  }

  .form-button, .log-box button {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 300;
    height: 30px;
    padding-top: 5px;
    width: 90%;
  }

  .required {
    font-size: 12px;
  }

  /* SECTION 4 - LOG FORM & FILTER OUTPUTS */

  .log-box {
    margin-top: 13%;
    width: 80%;
  }

  .log-date {
    top: -34px;
    width: 160px;
  }

  .log-contents span {
    font-size: 13px;
  }

  /* COMMON STYLES */

  .italics, .italics-secondline {
    font-size: 12px;
    line-height: 20px;
  }

}
